@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&family=Sriracha&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom styles */
body {
  font-family: 'Sriracha', cursive;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spin 40s linear infinite;
}

/* smooth scrolling */
html {
  scroll-behavior: smooth;
}